.palette {
  padding: 0 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.paint-swatch {
  position: relative;
}

.palette .paint-swatch {
  flex: 1 0 150px;
  border: 1px solid #eeeeee;
  margin: 0.25em;
}

.paint-swatch__select {
  text-decoration: none;
  display: block;
  padding: 0.5em;
  text-align: center;
}

.paint-swatch__details {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.color-input__edit {
  cursor: pointer;
  right: 0;
  border: 1px solid #ffffff;
}

.paint-swatch__count {
  left: 0.25em;
}
.paint-swatch__count, .color-input__edit, .paint-swatch__name {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.paint-swatch__count, .color-input__edit {
  opacity: 0.5;
  position: absolute;
  padding: 0.25em;
  top: 0;
}

.paint-swatch__name {
  margin-top: 1.5em;
  text-align: left;
}

.color-input__popover {
  position: absolute;
  z-index: 2;
}
.color-input__cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}